<!DOCTYPE html>
<html>
<head>
  <title>Upnote2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= html_import_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.css' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.min.css' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.min.js"></script>
</body>
</html>
